{% extends 'index.html' %}


    {% block content %}

    <hr/>
    <form method="get">
        {{ myFilter.form }}
   
    <input type="submit" name="Search">
    </form>
    <hr/>
    {% for post in myFilter.qs %}
   
 <!-- Main News Start-->
        

         <div class="tab-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div id="featured" class="container tab-pane active">
                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="{{ post.imagen.url }}" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="{% url 'noticias:noticia' post.pk %}">{{ post.titulo}}</a>
                                        <br><br>
                                        <p align="right" style="color:#C0B6B4">Publicado por: {{ post.username}}</p>
                                        <p align="right" style="color:#C0B6B4">Fecha: {{ post.fecha}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}

    {% endblock %}
